@import '../../assets/variables';

.wrapper-header {
  color: $text-primary-color;
  border-bottom: 1px solid #6389AF;
  position: fixed;
  top: 0;
  left: 0;
  background: #1F2744;
  width: 100%;
  z-index: 1002;

  &-main {
    margin: 0 auto;
    max-width: 1006px;
    height: 80px;
  }

  &-service {
    cursor: pointer;

    >svg {
      background: rgba(159, 216, 255, 0.33);
      border-radius: 5px;
      padding: 3px;
      width: 2em;
      height: 1.5em;
    }

    >span {
      margin-left: 11px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-user {
    cursor: pointer;

    >span {
      font-size: 16px;
      line-height: 20px;
      max-width: 70px;
      text-transform: capitalize;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 9px;
      margin-right: 14px;
    }
  }
}
