@import './normalize.scss';



.flex {
  display: flex;
  align-items: center;

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--stretch {
    justify-content: space-between;
  }

  &--margin-stretch {
    justify-content: space-around;
  }

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}

.text-center {
  text-align: center;
}
