@import '../../assets/variables';

.wrapper-profile {
  background: #1F2744;
  padding-top: 10px;
  border-radius: 10px;

  >header {
    box-shadow: none;
    border-bottom: 1px solid #6389AF;
  }


  .wrapper-tabs {
    background: #1F2744;

    .MuiTabs-flexContainer {
      >button {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
      color: #6389AF;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      text-transform: capitalize;
      padding-left: 20px;
      padding-right: 25px;
      max-width: 400px;

      svg {
        font-size: 28px;
      }
    }

    .Mui-selected {
      color: #C0E4FF !important;
    }

    .MuiTabs-indicator {
      background-color: #6389AF;
      height: 3px;
    }

  }



  .MuiFormControl-root {
    width: 100%;
  }

  .wrapper-form {
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    background: #172038;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    width: 100%;

    &.pt-40 {
      padding-bottom: 40px;
    }

    label {
      color: rgba(159, 216, 255, 0.36);
      font-size: 18px;
      top: -5px;
    }

    input,
    select,
    textarea {
      background: rgba(159, 216, 255, 0.24);
      border-radius: 5px;
      border-bottom: none;
      color: #9FD8FF;
      padding: 15px;
      width: 100%;
    }

    .custom-text {
      span {
        color: #9FD8FF;
        position: relative;
        border-bottom: 1px solid #9FD8FF;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: $text-primary-color;
      text-transform: capitalize;
      margin-bottom: 9px;
    }
  }

  .wrapper-submit {
    flex-direction: column;
    margin-top: 30px;

    &-question {
      font-weight: bold;
      font-size: 18px;
      color: $text-primary-color;
    }

    >label {
      color: #9FD8FF;
      margin: 20px 0;
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
      color: $text-primary-color;
    }

    .MuiCheckbox-root {
      color: #3E5171;
    }

    .btn {
      border-radius: 5px;
      font-size: 18px;
      line-height: 23px;
      text-transform: capitalize;
      color: #ffffff;
      padding: 14px 31px;

      &-save {
        margin-left: 18px;
        background: #42AFF9;
      }


      &-cancel {
        background: #F94263;
        margin-left: 18px;
      }
    }
  }

  .wrapper-avatar {
    background: #1F2744;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 18px 0 42px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 23px;

    img {
      width: 147px;
      object-fit: cover;
      cursor: pointer;
    }

    &-title {
      margin-top: 23px;
      margin-bottom: 9px;
      font-weight: 600;
      font-size: 26px;
      line-height: 33px;
      color: $text-primary-color;
    }

    &-des {
      font-size: 16px;
      line-height: 20px;
      color: $text-primary-color;
    }
  }


  .wrapper-main {
    width: 100%;

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: #6389AF;
      margin-bottom: 12px;
    }

    &-info {
      border-radius: 5px;
      padding: 14px 11px;
      width: 100%;
      color: #9FD8FF;

      input {
        color: #9FD8FF;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }

      &.has-background {
        background: rgba(159, 216, 255, 0.24);
      }

      .text {
        min-width: 125px;
      }

      .colon {
        margin: 0 30px;
      }

      select {
        background: none;
        border-radius: 5px;
        border-bottom: none;
        color: #9FD8FF;
        padding: 0;
        width: 100%;
      }

      .MuiInput-root {
        position: relative;
        width: 100%;
      }
    }
  }

  .MuiSvgIcon-root.MuiSelect-icon {
    color: #A1D6FA;
    transform: scale(1.2);
  }
}


.wrapper-tab-account {
  padding: 40px 45px;
  margin-top: 10px;
}


@media (max-width: 540px) {
  .wrapper-tab-account {
    padding: 20px 25px;
  }

  .wrapper-profile {
    .wrapper-submit .btn {
      padding: 5px 20px;
    }

    .wrapper-main-info {
      .text {
        min-width: 90px !important;
      }

      .colon {
        margin: 0 10px !important;
      }
    }
  }

  .wrapper-tabs {

    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }


}
